{% extends 'base.html' %}

{% block content %}
<div class="callout large primary">
    <div class="row column text-center">
        <h1>About</h1>
        <h2 class="subheader">Dennis Miller</h2>
    </div>
</div>

<!-- We can now combine rows and columns when there's only one column in that row -->
<div class="row medium-8 large-7 columns">
    <div class="blog-post">
        <h3>A little about my life</h3>
        <img class="thumbnail" src="https://i.ibb.co/cc9Z7zZ/IMG-3930.jpg">
        <p>Hey, my name is Dennis Miller I go by Mack for short. I enjoy playing baseball and hanging out with my friends and family.</p>
        <p>I also run a website dedicated to my favorite recipes at 
            <a href="http://crispyboyskitchen.com">Crispy Boys Website</a>
        </p>

    </div>   
</div>
{% endblock %}